---
title: Experience
---

<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

{% include experience_feature.html
    title="Led a data science team responding to the Nepal earthquake"
    text="While working with <a href='http://flowminder.org'>Flowminder</a>, I led the team which produced humanitarian data in response to the 2015 Nepal earthquake.
    We processed huge volumes of mobile phone records to analyse population mobility in the aftermath of the disaster, thus helping
    direct aid to the correct places, and our project won a prize at the <i>Global Mobile Awards</i> in 2016. The project involved
    processing many terabytes of data in very short timescales, and responding rapidly to requests from humanitarian agencies. <a
        href='https://web.flowminder.org/case-studies/nepal-earthquake-2015'>More details</a>"
    image="assets/images/Nepal.png"
%}

{% include experience_feature.html
    title="Processed large volumes of raster and vector for multiple clients"
    text="I have processed decade-long satellite data time-series for the London School of Hygiene and Tropical Medicine, to examine
    the health impacts of air pollution. My expert knowledge of vector and raster processing allows me to create reproducible workflows
    that combine multiple data sources to produce a coherent overview of a particular situation. I have significant experience with many
    forms of open data, and maintain a comprehensive <a href='http://freegisdata.rtwilson.com'>list of freely-available GIS data</a>."
    image="assets/images/LargeData.png"
%}

{% include experience_feature.html
    title="Accomplished researcher"
    text="My <a
        href='http://rtwilson.com/academic/downloads/RWilson_Thesis_Final.pdf'>PhD</a> (<i>Developing a novel method to retrieve high spatial resolution Aerosol Optical Thickness from
        satellite data</i>) won the <a href='https://www.rspsoc.org.uk'>RSPSoc</a> PhD Prize, and I have academic publications with
        over 130 total <a href='https://scholar.google.com/citations?user=kQ3YVA8AAAAJ&hl=en'>citations</a>. My academic work focused on
        combining detailed atmospheric simulations with processing of large volumes of satellite data, and involved collaborators across
        the world. I am still involved in academic work, and have recently freelanced with Loughborough University on some machine learning work."
    image="assets/images/PhD.png"
%}

{% include experience_feature.html
    title="Maintainer of multiple open-source projects"
    text="I am an expert programmer, and am active in the open-source community, maintaining multiple open-source <a href='http://github.com/robintw'>projects</a>. I am the lead author of
    <a href='http://py6s.rtwilson.com/'>Py6S</a> (a Python library to allow easy use of the 6S atmospheric radiative transfer model)
    and have contributed to many scientific Python packages. I have spoken at multiple international Python conferences
    (see a video <a href='http://blog.rtwilson.com/pycon-uk-2018-my-talk-on-xarray/'>here</a>)"
    image="assets/images/OpenSource.png"
%}

{% include experience_feature.html
    title="Significant teaching experience"
    text="I have a MSc-level qualification in teaching, and have experience teaching students from GCSE-level through to
    and accomplished academics. I have taught on undergraduate and MSc courses, and supervised student dissertations, including
    one which won the <a href='https://www.rspsoc.org.uk'>RSPSoc</a> MSc Prize. More recently,
    I have provided bespoke tutoring on Python and data science to academics, and run lessons on Computing and Geography at a
    Secondary School. I am regularly invited to speak at conferences, meet-ups and local science groups."
    image="assets/images/Teaching.png"
%}

{% include experience_feature.html
    title="And more..."
    text="<ul class='lead'>
        <li>I have successfully obtained over £130,000 of research funding</li>
        <li>I produced a calibrated time-series of night-time lights satellite images, now used as the basis for multiple papers</li>
        <li>I edited SENSED (the <a
                href='https://www.rspsoc.org.uk'>RSPSoc</a> quarterly magazine) for four years, where my efforts significantly improved the quality of
            the magazine</li>
        <li>I am a fellow of the <a href='http://www.software.ac.uk'>Software Sustainability Institute</a> (an organisation focused on improving the quality of software
            used in research) and have been responsible for multiple initiatives to improve <a href='http://recipy.org'>reproducibility</a> and
            <a href='https://www.software.ac.uk/blog/2016-10-06-encouraging-citation-software-introducing-citation-files'>recognition</a> of scientific software.</li>
        </ul>"
    image="assets/images/Nightlights.png"
%}

<!-- /END THE FEATURETTES -->